.form {
    max-width: 500px;
    margin-left: 10%;
}

.input {
    display: block;
    margin: 16px 0;
    padding: 6px;
    border: 1px solid #F1F1F1;
    font-family: 'Verdana';
    resize: none;
    border: 4px solid #005696;
    border-radius: 20px;
}

.grid{
    display: grid;
    grid-template-columns:  1fr 1fr;
}
.submit {
    margin: 16px 0;
    padding: 6px 10%;
    border: 1px solid #F1F1F1;
    font-family: 'Verdana';
    resize: none;
    border: 4px solid #6ddb12;
    border-radius: 20px;
}

.submit:focus{
    border: 4px solid #005696;
}

.marginLeft5percent{
    margin-left: 5%;
}


