.center{
    text-align: center;
}

.paddingTop{
    padding: 0.5rem;
}

.articleMarginTop{
    margin-top: 2rem;
}

.box{
    border: 2px #4fbce0 solid;
    padding: 1rem;
    border-radius: 10px;
    transition: transform .2s;
}

.box:hover{
    transform: scale(1.1);
}

.pictureSize{
    margin-top: 1rem;
    margin-left: 3rem;
    width: 10%;
}