.loginButtons{
    border: none;
    background-color: #4287f5;
    color: white;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    cursor: pointer;
}

.marginTop18perc{
    margin-top: 18%;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

